PORT=3000
API_BASE_URL="http://api:8000"
WEB_BASE_URL="http://web:3000"
LIVE_BASE_URL="http://plane-live:3000"
LIVE_BASE_PATH="/live"
LIVE_SERVER_SECRET_KEY="secret-key"

REDIS_HOST="plane-redis"
REDIS_PORT=6379
REDIS_URL="redis://plane-redis:6379/"
